### Java ###
*.class
*.jar
*.war
*.ear

### Build ###
target/
bin/
out/
build/
.gradle/

### Maven ###
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar

### Eclipse ###
.project
.classpath
.settings/
.springBeans

### VS Code ###
.vscode/

### Sistema Operativo ###
.DS_Store
Thumbs.db

### Logs y temporales ###
*.log
*.out
*.tmp
*.swp
*.bak
logs/

### Spring Boot Config / Entornos ###
application*.yml
application*.properties
.env
.env.*

### Bases de datos locales ###
*.h2.db
*.mv.db
*.db
*.sqlite

### Pruebas ###
test-output/
coverage/
jacoco.exec
generated/

serviceAccountKey.json